# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.env

# SQLite DBs and local data
*.db
themes.db
prompt_analyzer/themes.db

# VSCode
.vscode/

# Node
node_modules/

# OS
.DS_Store

# Logs
.log

